html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: yellow;

    grid-column-start: 1; /*começa na linha 1*/
    grid-column-end: 3; /*termina na linha 3*/
    /*grid-column: 1 / 3; = atalho*/
}

main {
    background: blue;

    grid-column-start: 1;
    grid-column-end: 2;
}

aside {
    background: red;

    grid-column-start: 2;
    grid-column-end: 3;
}

footer {
    background: green;

    grid-column-start: 1;
    grid-column-end: 3;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
}

