@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A4BF7A, #CFF29B );

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #19501491;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #010D00;
    text-align: center;
    box-shadow: 1px 1px 2px #010d0065 ;
}

h2{
    color: #455936;
}

p{
    text-align: justify;

}


